extends base.pug

block content
  h4 Change Video title
  form(method="POST", action=`edit`)
      input(name="title", placeholder = "Video Title" type="text", value=video.title, required)
      input(type="submit")