extends base.pug

block content
    div
        p=video.description
        small=video.createAt
    a(href=`/videos/${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`/videos/${video.id}/delete`) Delete Video &rarr;